<div class="row">
  <div class="col-sm-12 shadow">
    <div class="row">
      <div class="col-md-12">
        <h3 class="ml-2 mt-3">Meny</h3>
      </div>
      <div class="col-xs-10 col-md-8">
        <navbar class="navbar nav">
          <nav>
            <ul class="no-bullets">
              <li><a [routerLink]="['/welcome']">Hem</a></li>
              <li><a [routerLink]="['/desperado']">Rövarspråket</a></li>
              <li><a [routerLink]="['/birthdayseconds']">Födelsesekunder</a></li>
            </ul>
          </nav>
        </navbar>
      </div>
    </div>
  </div>
</div>
