
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <i class="fa-solid fa-hat-wizard"></i>
  <div class="h3 m-2"><span>Rövarspråket</span></div>
  <div class="spacer"></div>


</div>

<div class="content" role="main">


  <app-desperado></app-desperado>
</div>
<footer>
    <div class="container">
      <div class="row border-top border-1">

        <div class="col col-3 no-gutters d-flex mt-1">
          <i class="fab fa-github"></i> &nbsp; <a href="https://github.com/arizon-dread/fastapi-desperado" target="_blank">Backend api on github &nbsp; <i class="fas fa-external-link-alt"></i></a><br />

        </div>
        <div class="col col-3 mt-1 d-flex">
          <i class="fab fa-github"></i> &nbsp; <a href="https://github.com/arizon-dread/angular-desperado" target="_blank">Frontend angular app on github &nbsp; <i class="fas fa-external-link-alt"></i></a>
        </div>
      </div>
    </div>
</footer>
<router-outlet></router-outlet>
