<div class="row">
  <div class="col-12">
    <h3>Räkna ut sekunder sedan du föddes</h3>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card">
      <div class="card-header">Välj födelsedatum</div>
      <div class="card-body">
          <div class="row">
            <div class="input-group col-md-6">
              <fa-icon [icon]="faCalendar" [owlDateTimeTrigger]="dt" class="mt-2 mr-2"></fa-icon>
              <input class="form-control" [(ngModel)]="bdaySeconds" [owlDateTime]="dt" [owlDateTimeTrigger]="dt" placeholder="Fyll i din födelsedag" />
              <owl-date-time [startAt]="startAt" #dt></owl-date-time>
            </div>
            <div class="col-md-6 ">
              <button class="btn btn-primary" (click)=calculateSeconds()>Beräkna sekunder</button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Sekunder sedan du föddes:
      </div>
      <div class="card-body">
        {{seconds}}
      </div>
    </div>

  </div>
</div>
